.search-client {
}

.title {
text-align: center;
}

.search {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;

}

.label {
  margin-right: 20px;
}